.hero {
  &-container {
    display: flex;
    margin: 20px 0;
  }
  &-title {
    font-size: 35px;
    margin: 50px 0;
  }

  &-desc {
    margin-bottom: 50px;
  }
  .btn {
    background-color: $primary-color;
  }
  .hero-image {
    img{
      padding: 20px;
      border-radius: 5px;
    }
  }
}
