*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input,textarea,select,button{
    outline: none;
}
label,button{
    cursor:pointer;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}