$font: "Rubik", sans-serif;
$text-color: #4f5665;
$heading-color:#0b132a;
$btn-round-color:#fff;
$intro-background: rgb(252, 236, 236);
$primary-color: #f53838;
$gray-color: #dde0e4;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #ddd;